<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script>
        window.addEventListener('load', function () {
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register("service-worker.js")
                    .then(function (registration) {
                        console.log("serviceWorker registed.");
                    }).catch(function (error) {
                        console.warn("serviceWorker error.", error);
                    });
            }
        });
    </script>

    <link rel="manifest" href="manifest.json">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>税計算ツール</title>
</head>

<body>
    <header>
        <div class="titleContainer">
            <h2 class="mt-3">税計算ツール</h2>
        </div>

    </header>

    <div>
        <nav></nav>
        <main id="app">
            <div class="input-group mb-3">
                <span class="input-group-text">税　率</span>
                <input type="text" class="form-control" v-model="taxRate" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-text">%</span>
            </div>
            <input type="checkbox" class="btn-check" id="btn-check-outlined1" autocomplete="off">
            <label class="btn btn-outline-primary" for="btn-check-outlined1">ひらがな　→　カタカナ</label><br>


            <input type="radio" v-model="styleKatakana" value="hankaku" class="btn-check" name="options-outlined-kana" id="success-outlined-kana"
                autocomplete="off">
            <label class="btn btn-outline-success" for="success-outlined-kana">半角カタカナ</label>

            <input type="radio" v-model="styleKatakana" value="zenkaku" class="btn-check" name="options-outlined-kana" id="danger-outlined-kana"
                autocomplete="off" checked>
            <label class="btn btn-outline-danger" for="danger-outlined-kana">全角カタカナ</label><br>


            <input type="radio" v-model="styleNumber" value="hankaku" class="btn-check" name="options-outlined-number" id="success-outlined-number"
                autocomplete="off" checked>
            <label class="btn btn-outline-success" for="success-outlined-number">半角数字</label>

            <input type="radio" v-model="styleNumber" value="zenkaku" class="btn-check" name="options-outlined-number" id="danger-outlined-number"
                autocomplete="off">
            <label class="btn btn-outline-danger" for="danger-outlined-number">全角数字</label><br>


            <input type="radio" v-model="styleAlphabet" value="hankaku" class="btn-check" name="options-outlined-alphabet" id="success-outlined-alphabet"
                autocomplete="off" checked>
            <label class="btn btn-outline-success" for="success-outlined-alphabet">半角英字</label>

            <input type="radio" v-model="styleAlphabet" value="zenkaku" class="btn-check" name="options-outlined-alphabet" id="danger-outlined-alphabet"
                autocomplete="off">
            <label class="btn btn-outline-danger" for="danger-outlined-alphabet">全角英字</label><br>



            <div class="input-group">
                <span class="input-group-text">変換対象</span>
                <input type="text" class="form-control" v-model="sourceCharacter" placeholder=""
                    aria-label="Recipient's username with two button addons">
                <button type="button" class="btn btn-outline-primary" id="out-tax"
                    v-on:click="characterConversion">変換</button>
            </div>
            <div class="input-group mt-3" v-if="resultCharacter">
                <span class="input-group-text">変換結果</span>
                <input type="text" class="form-control" v-model="resultCharacter"
                    aria-label="Amount (to the nearest dollar)">
            </div>
            <div class="input-group">
                <span class="input-group-text">　値　</span>
                <input type="text" class="form-control" v-model="amount" placeholder=""
                    aria-label="Recipient's username with two button addons">
                <button type="button" class="btn btn-outline-primary" id="out-tax" v-on:click="taxCalc">税別</button>
                <button type="button" class="btn btn-outline-primary" id="in-tax" v-on:click="taxCalc">税込</button>
            </div>

            <div class="input-group mt-3" v-if="resultTaxOutAmoutStyleArray">
                <span class="input-group-text">消費税</span>
                <input type="text" class="form-control" v-model="resultTax" aria-label="Amount (to the nearest dollar)">
            </div>

            <div class="list-container mt-3" v-if="resultTaxOutAmoutStyleArray">
                <div class="list-group me-3" style="max-width: 50%;">
                    <a class="list-group-item list-group-item-action active text-center" aria-current="true"
                        style="background-color:#BE3455;border-color:#BE3455">税別</a>
                    <div v-for="outTaxItem in resultTaxOutAmoutStyleArray" :key="outTaxItem ">
                        <a class="list-group-item list-group-item-action"
                            @click="copyToClipboard(outTaxItem)">{{outTaxItem }}</a>
                    </div>
                </div>
                <div class="list-group" style="max-width: 50%;">
                    <a class="list-group-item list-group-item-action active text-center" aria-current="true"
                        style="background-color:#BE3455;border-color:#BE3455">税込</a>
                    <div v-for="inTaxItem in resultTaxInAmoutStyleArray" :key="inTaxItem">
                        <a class="list-group-item list-group-item-action"
                            @click="copyToClipboard(inTaxItem)">{{inTaxItem }}</a>
                    </div>
                </div>
            </div>
        </main>
        <aside></aside>
    </div>
    <footer></footer>





    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js"></script>

</body>

</html>