body {
     margin: 0 auto;
     max-width: 500px;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     font-family: 'Noto Sans JP', sans-serif;
    }
header {
    /* outline: 1px solid gray; */
    /* background-color: lightcyan; */
    height: 60px;
}
div{
    display: flex;
    flex: 1;
}
main {
    /* outline: 1px solid gray; */
    flex: 1;
}
nav {
    /* outline: 1px solid gray; */
    width: 5%;
}
aside {
    /* outline: 1px solid gray; */
    width: 5%;
}
footer {
    /* outline: 1px solid gray; */
    /* background-color: lightcyan; */
    height: 100px;
}
.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/*------------------------------------
- COLOR primary
------------------------------------*/
.alert-primary {
    color: #5d192a;
    background-color: #f1ccd5;
    border-color: #ecbcc8;
}

.alert-primary hr {
    border-top-color: #e7a8b7;
}

.alert-primary .alert-link {
    color: #350e18;
}

.badge-primary {
    color: #fff;
    background-color: #BE3455;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
    color: #fff;
    background-color: #952943;
}

.bg-primary {
    background-color: #BE3455 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #952943 !important;
}

.border-primary {
    border-color: #BE3455 !important;
}

.btn-primary {
    color: #fff;
    background-color: #BE3455;
    border-color: #BE3455;
}

.btn-primary:hover {
    color: #fff;
    background-color: #a12c48;
    border-color: #952943;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(190, 52, 85, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #BE3455;
    border-color: #BE3455;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #952943;
    border-color: #89253d;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(190, 52, 85, 0.5);
}

.btn-outline-primary {
    color: #BE3455;
    background-color: transparent;
    border-color: #BE3455;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #BE3455;
    border-color: #BE3455;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(190, 52, 85, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #BE3455;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #BE3455;
    border-color: #BE3455;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(190, 52, 85, 0.5);
}

.list-group-item-primary {
    color: #5d192a;
    background-color: #ecbcc8;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #5d192a;
    background-color: #e7a8b7;
}

.list-group-item-primary.list-group-item-action.active {
    color: #fff;
    background-color: #5d192a;
    border-color: #5d192a;
}

.table-primary,
.table-primary > th,
.table-primary > td {
    background-color: #ecbcc8;
}

.table-hover .table-primary:hover {
    background-color: #e7a8b7;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
    background-color: #e7a8b7;
}

.text-primary {
    color: #BE3455 !important;
}

a.text-primary:hover, a.text-primary:focus {
    color: #952943 !important;
}
